@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To League Wiki</h1>
    <p>A custom made webpage based on Riot Games's League of Legends Videogame</p>
</div>
